#mainSection {
    height: 620px;
    padding: 40px;
    margin: 30px;
    background-color: white;
    box-shadow: 0 0 0 8px black; 
    font-family: 'Alfa Slab One', cursive;
    color: black;
    text-shadow: -1px 0 yellow, 0 4px yellow, 4px 0 yellow, 0 -1px yellow;
}
#name-tag {
    font-size: 55px;
}
h1 {
    color: yellow;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
}
#mainSection-projects{
    height: 700px;
    padding: 40px;
    margin: 30px;
    background-color: white;
    padding-bottom: 40px;
    box-shadow: 0 0 0 8px black; 
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
   
}
#mainSection-form {
    height: 500px;
    padding: 40px;
    margin: 30px;
    background-color: white;
    box-shadow: 0 0 0 8px black;
    /* padding-bottom: 25px;   */
}
.nav-item {
    color: white;
    padding: 5px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
    /* text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black; */
}
#name-tag {
    color: white;
    /* text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black; */
}

img {
    float: left;
    position: relative;
}
;
.navbar {
    height: 60px;
    background-color: black;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
  
}
#nav-bar {
    background-color: black;
    color: white;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
  
}


#idtag {
    background-color: aliceblue;
}

.card {
    float: left;
    padding: 5px;
    margin: 15px;
    margin-right: 90px;
    position: relative;
}
body {
    background-color: black;
}
.card-img-top {
    height: 200px;
    width: 200px;
    border-style: solid black;
}
.caption {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
}
.card-body {
    padding: 0px;
}

.img1 {
    margin-right: 30px;
    margin-bottom: 10px;
    box-shadow:  0 0 0 2px black;
}
.footer {
    background-color: black;
    color: black;
    height: 35px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footertext {
    color: white;
}
.btn-primary {
    color: #fff;
    /* background-color: #007bff; */
    background-color: black;
    /* border-color: #007bff; */
    width: 1123px;

}
.navbar-brand {
    font-size: 40px;
    color: black;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 white, 0 4px white, 4px 0 white, 0 -1px white;
}