#mainSection {
    height: 620px;
    padding: 40px;
    margin: 30px;
    /* background-color: white; */
    background-color: black;
    /* box-shadow: 0 0 0 8px black;  */
    border-style: solid white;
    font-family: 'Alfa Slab One', cursive;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
   
}
#name-tag {
    font-size: 55px;
}
h1 {
    color: black;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 yellow, 0 4px yellow, 4px 0 yellow, 0 -1px yellow;
    text-align: center;
}
hr {
    border-top: 3px solid white;
}
#mainSection-projects{
    height: 700px;
    text-align: center;
    padding: 40px;
    margin: 30px;
    /* background-color: white; */
    background-color: black;
    padding-bottom: 40px;
    box-shadow: 0 0 0 8px black; 
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
   
}
#mainSection-form {
    color: white;
    height: 500px;
    padding: 40px;
    margin: 30px;
    /* background-color: white; */
    background-color: black;
    box-shadow: 0 0 0 8px black;
    /* padding-bottom: 25px;   */
}
#mainSection-links{
    height: 300px;
    margin-bottom: 35px;
    padding: 40px;
    padding-top: 5px;
    margin: 30px;
    background-color: black;
    box-shadow: 0 0 0 8px black;
   
}
.nav-item {
    color: white;
    padding: 5px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
    /* text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black; */
}
.nav-item:hover {
    color: yellow;
    text-shadow: none;
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
#name-tag {
    color: white;
    /* text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black; */
}

img {
    float: left;
    position: relative;
}

.navbar {
    height: 90px;
    padding: 0px;
    background-color: black;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
    border-bottom: 8px solid #4aaaa5;
}
#nav-bar {
    height: 75px;
    padding: 10px;
    background-color: black;
    color: white;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
    border-bottom: 8px solid yellow;
    margin-bottom: 20px;
  
}
/* #nav-bar:hover {
    color: yellow;
} */


#idtag {
    background-color: aliceblue;
}

.card {
    float: left;
    padding: 5px;
    margin: 15px;
    margin-right: 90px;
    background-color: black;
    position: relative;
    /* border-style: none; */
}
.card-img-top:hover {
    box-shadow: 2px white;
}
.card-1 {
    float: left;
    padding: 5px;
    margin: 15px;
    margin-right: 90px;
    position: relative;
    border-style: none;
}
body {
    background-color: black;
}
.card-img-top {
    height: 200px;
    width: 200px;
    border-style: solid black;
}
.caption {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
}
.card-body {
    padding: 0px;
}

.img1 {
    margin-right: 30px;
    margin-bottom: 10px;
    box-shadow:  0 0 0 2px black;
}
.footer {
    background-color: black;
    color: black;
    height: 35px;
    text-align: center;
    border-top: 8px solid yellow;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footertext {
    color: white;
}
.btn-primary {
    /* background-color: #007bff; */
    background-color:black;
    /* border-color: #007bff; */
    width: 1123px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
  
}
.navbar-brand {
    font-size: 40px;
    color: black;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 white, 0 4px white, 4px 0 white, 0 -1px white;
    text-shadow: none;
    color: yellow;
}
.navbar-brand:hover {
    text-shadow: -1px 0 white, 0 4px white, 4px 0 white, 0 -1px white;
    color: black;
}
#bottom-form-header {
    text-align: center;
}
#logo-img-top {
    height: 100px;
}
#h1-3 {
    text-align: center;
}
#h1-1:hover {
    text-shadow: none;
    color: yellow;

}
#h1-2:hover {
    text-shadow: none;
    color: yellow;

}
#h1-3:hover {
    text-shadow: none;
    color: yellow;

}
#bottom-form-header:hover {
    text-shadow: none;
    color: yellow;
}
/* .navbar-brand {
    animation: pulse 20s infinite;
}
 
/* #h1-1 {
    animation: pulse 10s infinite;
} */
/* @keyframes pulse {
    0% {
      color: black;
      
    }
    50% {
      color: gray;
    }
    100% {
        color: black;
      }
} */ 
#submit {
    text-align: center;

}
